<!DOCTYPE html>
<html lang="es">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
        <meta charset="utf-8" />
        <meta name="Borja Martín" content="Albert Publicidad" /> 
        <!-- add styles -->
        <link href="../css/main.css" rel="stylesheet" type="text/css" />
    </head>
    <body>
        <div class="container">
            <ul id="nav">
                <li><a href="/heroes">Inicio</a>
                    <span id="s1"></span>
                    <ul class="subs">
                        <li><a href="/inicio">¿Quiénes somos?</a>
                            <ul>
                                <li><a href="/nosotros">Nosotros</a></li>
                                <li><a href="/localizacion">Localización</a></li>
                                <li><a href="/experiencia">Experiencia</a></li>
                            </ul>
                        </li>
                        <li><a href="#">Nuestra forma de trabajo</a>
                            <ul>
                                <li><a href="/compromiso">Compromiso</a></li>
                                <li><a href="/exactitud#">Exactitud</a></li>
                                <li><a href="/seriedad">Seriedad</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li><a href="#s2">Catálogo</a>
                    <span id="s2"></span>
                    <ul class="subs">
                        <li><a href="#s1">Productos</a>
                            <ul>
                                <li><a href="/online">On-line</a></li>
                                <li><a href="/proveedores">Proveedores</a></li>
                            </ul>
                        </li>
                        <li><a href="#">Servicios</a>
                            <ul>
                                <li><a href="/pago">Forma de Pago</a></li>
                                <li><a href="/encargos">Encargos</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
        </div><br><br>
    </body>
</html>
